.container {
  margin: auto;
  box-sizing: border-box;
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-inline-start: var(--utrecht-page-margin-inline-start);
  padding-inline-end: var(--utrecht-page-margin-inline-end);
  display: flex;
}

.navContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.image:hover {
  cursor: pointer;
}

.languageSelectContainer {
  align-self: center;
}

.languageSelect {
  user-select: none;
}

.languageSelect:hover:not(.languageSelectDisabled) {
  cursor: pointer;
}

.languageSelectDisabled {
  opacity: 50%;
}

.languageSeperator {
  user-select: none;
}

.skipLink {
  font-weight: var(--utrecht-skip-link-font-weight);
  width: var(--utrecht-skip-link-width);
  font-size: var(--utrecht-skip-link-font-size);
  border-radius: var(--utrecht-skip-link-border-radius);
  border-width: var(--utrecht-skip-link-border-width);
  border-style: var(--utrecht-skip-link-border-style);
  border-color: var(--utrecht-skip-link-border-color);
  border-bottom-width: var(
    --utrecht-skip-link-border-bottom-width,
    var(--utrecht-skip-link-border-width)
  );
  border-bottom-style: var(
    --utrecht-skip-link-border-bottom-style,
    var(--utrecht-skip-link-border-style)
  );
  border-bottom-color: var(
    --utrecht-skip-link-border-bottom-color,
    var(--utrecht-skip-link-border-color)
  );
  --_utrecht-focus-ring-box-shadow: 0 0 0
    var(
      --utrecht-skip-link-box-shadow-width,
      var(--utrecht-focus-outline-width, 0)
    )
    var(--utrecht-focus-inverse-outline-color, transparent) !important;
}

.skipLink:focus {
  outline-style: var(
    --utrecht-skip-link-outline-style,
    var(--utrecht-focus-outline-style, revert)
  ) !important;
  outline-color: var(
    --utrecht-skip-link-outline-color,
    var(--utrecht-focus-outline-color, revert)
  ) !important;

  inset-block-start: var(
    --utrecht-skip-link-inset-block-start,
    var(--_utrecht-skip-link-inset, 0)
  ) !important;

  inset-inline-start: var(
    --utrecht-skip-link-inset-inline-start,
    var(--_utrecht-skip-link-inset, 0)
  ) !important;
}
