.container {
  margin: auto;
  box-sizing: border-box;
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-inline-start: var(--utrecht-page-margin-inline-start);
  padding-inline-end: var(--utrecht-page-margin-inline-end);
}

.imageContainer {
  height: var(--utrecht-page-header-logo-max-height);
  width: var(--utrecht-page-header-logo-max-width);
}

.image {
  vertical-align: middle;
  margin-inline-end: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image:hover {
  cursor: pointer;
}
