.container {
  margin: auto;
  box-sizing: border-box;
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-inline-start: var(--utrecht-page-padding-inline-start);
  padding-inline-end: var(--utrecht-page-padding-inline-end);
}

.image {
  max-height: 20px;
  max-width: 200px;
  vertical-align: middle;
  margin-inline-end: 10px;
}

.image:hover {
  cursor: pointer;
}
