.container {
  margin: auto;
  box-sizing: border-box;
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-inline-start: var(--utrecht-page-padding-inline-start);
  padding-inline-end: var(--utrecht-page-padding-inline-end);
}

.title {
  user-select: none;
}

.title:hover {
  cursor: pointer;
}
