.container {
  margin: auto;
  box-sizing: border-box;
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-inline-start: var(--utrecht-page-margin-inline-start);
  padding-inline-end: var(--utrecht-page-margin-inline-end);
  display: flex;
}
.skipLinkContainer:focus-within {
  margin-inline-end: 10%;
}

.navContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.image:hover {
  cursor: pointer;
}

.languageSelectContainer {
  align-self: center;
}

.languageSelect {
  user-select: none;
}

.languageSelect:hover:not(.languageSelectDisabled) {
  cursor: pointer;
}

.languageSelectDisabled {
  opacity: 50%;
}

.languageSeperator {
  user-select: none;
}
