.conduction-theme,
.rotterdam-theme,
.dimpact-theme,
.opencatalogi-theme,
.oude-ijsselstreek-theme,
.migrato-theme,
.helmond-theme,
.beek-theme {
  --utrecht-link-icon-margin-inline: var(--tilburg-space-text-beetle);

  --tilburg-status-badge-background-color: var(--tilburg-color-pink-100);
  --tilburg-status-badge-padding-block: var(--tilburg-space-block-flea);
  --tilburg-status-badge-padding-inline: var(--tilburg-space-inline-ant);
  --tilburg-status-badge-border-radius: var(--tilburg-border-radius-sm);
  --tilburg-status-badge-border-width: var(--tilburg-border-width-sm);
  --tilburg-status-badge-font-size: var(--tilburg-typography-font-size-sm);
  --tilburg-line-border-width: var(--tilburg-border-width-sm);
  --tilburg-line-border-color: #75757c;
  --tilburg-interaction-hover-color: #004488;
  --tilburg-interaction-active-color: #004488;
  --tilburg-interaction-color: #004488;
  --tilburg-icon-toptask-size: var(--tilburg-size-icon-4xl);
  --tilburg-icon-functional-size: var(--tilburg-size-icon-md);
  --tilburg-pointer-target-min-size: var(--tilburg-size-md);
  --tilburg-form-control-placeholder-color: var(--tilburg-color-gray-600);
  --tilburg-form-control-read-only-color: var(--tilburg-color-gray-950);
  --tilburg-form-control-read-only-border-color: var(--tilburg-color-gray-500);
  --tilburg-form-control-read-only-background-color: var(
    --tilburg-color-gray-50
  );
  --tilburg-form-control-invalid-color: var(--tilburg-color-red-300);
  --tilburg-form-control-invalid-border-width: var(--tilburg-border-width-md);
  --tilburg-form-control-invalid-border-color: var(--tilburg-color-red-300);
  --tilburg-form-control-invalid-background-color: var(--tilburg-color-white);
  --tilburg-form-control-hover-color: var(--tilburg-color-gray-950);
  --tilburg-form-control-hover-border-width: var(--tilburg-border-width-md);
  --tilburg-form-control-hover-border-color: var(--tilburg-color-gray-500);
  --tilburg-form-control-hover-background-color: var(--tilburg-color-gray-50);
  --tilburg-form-control-focus-color: var(--tilburg-color-black);
  --tilburg-form-control-focus-border-width: var(--tilburg-border-width-md);
  --tilburg-form-control-focus-border-color: var(--tilburg-color-black);
  --tilburg-form-control-focus-background-color: var(--tilburg-color-white);
  --tilburg-form-control-disabled-color: var(--tilburg-color-gray-500);
  --tilburg-form-control-disabled-border-color: var(--tilburg-color-gray-500);
  --tilburg-form-control-disabled-background-color: var(
    --tilburg-color-gray-50
  );
  --tilburg-form-control-disabled-accent-color: var(--tilburg-color-gray-500);
  --tilburg-form-control-active-color: var(--tilburg-color-gray-950);
  --tilburg-form-control-active-border-width: var(--tilburg-border-width-md);
  --tilburg-form-control-active-border-color: var(--tilburg-color-gray-500);
  --tilburg-form-control-active-background-color: var(--tilburg-color-gray-100);
  --tilburg-form-control-color: var(--tilburg-color-gray-950);
  --tilburg-form-control-border-width: var(--tilburg-border-width-sm);
  --tilburg-form-control-border-color: var(--tilburg-color-gray-500);
  --tilburg-form-control-background-color: var(--tilburg-color-white);
  --tilburg-focus-outline-style: dotted;
  --tilburg-focus-outline-offset: 0;
  --tilburg-box-shadow-lg: 0 1ratpx rgba(0, 0, 0, 0.1);
  --tilburg-box-shadow-md: 0 4px 12px rgba(0, 0, 0, 0.1);
  --tilburg-box-shadow-sm: [object Object];

  --tilburg-box-shadow-lg: 0 1ratpx rgba(0, 0, 0, 0.1);
  --tilburg-box-shadow-md: 0 4px 12px rgba(0, 0, 0, 0.1);
  --tilburg-box-shadow-sm: [object Object];
  --tilburg-typography-font-family-secondary: "Roboto", sans-serif;
  --tilburg-typography-font-family-primary: TradeGothicCondensed18;
  --tilburg-typography-font-weight-bold: 700;
  --tilburg-typography-font-weight-normal: 400;
  --tilburg-typography-line-height-lg: 200%;
  --tilburg-typography-line-height-md: 150%;
  --tilburg-typography-line-height-sm: 125%;
  --tilburg-typography-line-height-xs: 100%;
  --tilburg-typography-font-size-4xl: 48px;
  --tilburg-typography-font-size-3xl: 40px;
  --tilburg-typography-font-size-2xl: 32px;
  --tilburg-typography-font-size-xl: 24px;
  --tilburg-typography-font-size-lg: 20px;
  --tilburg-typography-font-size-md: 16px;
  --tilburg-typography-font-size-sm: 14px;
  --tilburg-space-row-giraffe: 160px;
  --tilburg-space-row-elephant: 96px;
  --tilburg-space-row-horse: 64px;
  --tilburg-space-row-tiger: 48px;
  --tilburg-space-row-pig: 32px;
  --tilburg-space-row-dog: 28px;
  --tilburg-space-row-cat: 24px;
  --tilburg-space-row-rabbit: 20px;
  --tilburg-space-row-rat: 16px;
  --tilburg-space-row-mouse: 12px;
  --tilburg-space-row-snail: 8px;
  --tilburg-space-row-beetle: 4px;
  --tilburg-space-row-ant: 2px;
  --tilburg-space-row-flea: 1px;
  --tilburg-space-column-giraffe: 160px;
  --tilburg-space-column-elephant: 96px;
  --tilburg-space-column-horse: 64px;
  --tilburg-space-column-tiger: 48px;
  --tilburg-space-column-pig: 32px;
  --tilburg-space-column-dog: 28px;
  --tilburg-space-column-cat: 24px;
  --tilburg-space-column-rabbit: 20px;
  --tilburg-space-column-rat: 16px;
  --tilburg-space-column-mouse: 12px;
  --tilburg-space-column-snail: 8px;
  --tilburg-space-column-beetle: 4px;
  --tilburg-space-column-ant: 2px;
  --tilburg-space-column-flea: 1px;
  --tilburg-space-text-dog: 24px;
  --tilburg-space-text-cat: 16px;
  --tilburg-space-text-rabbit: 14px;
  --tilburg-space-text-rat: 12px;
  --tilburg-space-text-mouse: 8px;
  --tilburg-space-text-snail: 6px;
  --tilburg-space-text-beetle: 4px;
  --tilburg-space-text-ant: 2px;
  --tilburg-space-text-flea: 1px;
  --tilburg-space-block-pig: 64px;
  --tilburg-space-block-dog: 48px;
  --tilburg-space-block-cat: 32px;
  --tilburg-space-block-rabbit: 24px;
  --tilburg-space-block-rat: 20px;
  --tilburg-space-block-mouse: 16px;
  --tilburg-space-block-snail: 12px;
  --tilburg-space-block-beetle: 8px;
  --tilburg-space-block-ant: 4px;
  --tilburg-space-block-flea: 2px;
  --tilburg-space-inline-pig: 48px;
  --tilburg-space-inline-dog: 32px;
  --tilburg-space-inline-cat: 28px;
  --tilburg-space-inline-rabbit: 24px;
  --tilburg-space-inline-rat: 20px;
  --tilburg-space-inline-mouse: 16px;
  --tilburg-space-inline-snail: 12px;
  --tilburg-space-inline-beetle: 8px;
  --tilburg-space-inline-ant: 4px;
  --tilburg-space-inline-flea: 2px;
  --tilburg-size-icon-4xl: 48px;
  --tilburg-size-icon-3xl: 40px;
  --tilburg-size-icon-2xl: 32px;
  --tilburg-size-icon-xl: 24px;
  --tilburg-size-icon-lg: 24px;
  --tilburg-size-icon-md: 24px;
  --tilburg-size-icon-sm: 16px;
  --tilburg-size-2xl: 160px;
  --tilburg-size-xl: 96px;
  --tilburg-size-lg: 64px;
  --tilburg-size-md: 48px;
  --tilburg-size-sm: 32px;
  --tilburg-size-xs: 24px;
  --tilburg-size-2xs: 16px;
  --tilburg-size-3xs: 8px;
  --tilburg-size-4xs: 4px;
  --tilburg-size-5xs: 2px;
  --tilburg-color-red-400: #bf1a12;
  --tilburg-color-red-300: #e5352c;
  --tilburg-color-red-200: #f7b0ac;
  --tilburg-color-red-100: #ffe1e0;
  --tilburg-color-green-400: #01745a;
  --tilburg-color-green-300: #008b6d;
  --tilburg-color-green-200: #86cabb;
  --tilburg-color-green-100: #c8f3e9;
  --tilburg-color-orange-400: #d45f01;
  --tilburg-color-orange-300: #f16e06;
  --tilburg-color-orange-200: #fbb278;
  --tilburg-color-orange-100: #ffe7d4;
  --tilburg-color-pink-400: #a40058;
  --tilburg-color-pink-300: #c8006c;
  --tilburg-color-pink-200: #f5b4d7;
  --tilburg-color-pink-100: #ffe8f5;
  --tilburg-color-blue-500: #003865;
  --tilburg-color-blue-400: #026596;
  --tilburg-color-blue-300: #009dda;
  --tilburg-color-blue-200: #b9e4fc;
  --tilburg-color-blue-100: #e6f6ff;
  --tilburg-color-extra-limegreen: #8bc63f;
  --tilburg-color-extra-purple: #513090;
  --tilburg-color-extra-yellow: #fbdd27;
  --tilburg-color-dark-alpha-100: #0000001a;
  --tilburg-color-dark-alpha-50: #0000000d;
  --tilburg-color-light-alpha-100: #ffffff1a;
  --tilburg-color-light-alpha-50: #ffffff0d;
  --tilburg-color-gray-950: #001737;
  --tilburg-color-gray-900: #0a2750;
  --tilburg-color-gray-800: #274065;
  --tilburg-color-gray-700: #3f5676;
  --tilburg-color-gray-600: #5b6e8a;
  --tilburg-color-gray-500: #7a8aa0;
  --tilburg-color-gray-400: #98a4b6;
  --tilburg-color-gray-300: #cfd5dd;
  --tilburg-color-gray-200: #e4e7ec;
  --tilburg-color-gray-100: #f2f4f6;
  --tilburg-color-gray-50: #f9f9fa;
  --tilburg-color-black-txt: #333333;
  --tilburg-color-black: #000000;
  --tilburg-color-white: #ffffff;
  --tilburg-border-width-lg: 4px;
  --tilburg-border-width-md: 2px;
  --tilburg-border-width-sm: 1px;
  --tilburg-border-radius-round: 999px;
  --tilburg-border-radius-lg: 16px;
  --tilburg-border-radius-md: 8px;
  --tilburg-border-radius-sm: 4px;
}
