.dropdownContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownContent > * {
  flex: 1;
}

.dropdownContent > :not(:last-child) {
  margin-inline-end: 8px;
}

.button {
  gap: var(--utrecht-icon-gap) !important;
}

.button:hover {
  cursor: pointer;
}

.searchContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContent > :not(:last-child) {
  margin-inline-end: 8px;
}

.displaySwitchContainer {
  display: flex;
  justify-content: flex-end;
}
