.container {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  gap: 12px;
  align-items: center;
}

.form > * {
  flex: 1;
  min-width: 175px !important;
}

.button:hover {
  cursor: pointer;
}

.button:disabled svg {
  animation-name: spinner;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 992px) {
  /* Tablet */
  .container {
    display: grid;
    justify-content: unset;
  }

  .form {
    margin-block-end: 12px;
  }
}

@media only screen and (max-width: 576px) {
  /* Mobile */
  .container {
    display: grid;
    justify-content: unset;
  }

  .form {
    display: grid;
    margin-block-end: 12px;
  }
}
