.wrapper {
  background-size: cover;
  background-position: 48% 39%;
  max-width: 100%;
  padding: 5rem 0 10rem;
}

.card {
  background-color: var(--utrecht-card-background-color);
  border-radius: var(--utrecht-card-border-radius);
  width: fit-content;
  padding-inline-start: 48px;
  padding-inline-end: 48px;
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.card > * {
  color: var(--utrecht-card-color) !important;
}
