.wrapper {
  background-size: cover;
  background-position: 48% 39%;
  max-width: 100%;
  padding: 5rem 0 10rem;
}

.card {
  width: fit-content;
  padding-inline-start: 48px;
  padding-inline-end: 48px;
  padding-block-start: 40px;
  padding-block-end: 40px;

  border-width: var(--conduction-card-wrapper-border-width);
  border-style: var(--conduction-card-wrapper-border-style);
  border-color: var(--conduction-card-wrapper-border-color);
  border-bottom-width: var(--conduction-card-wrapper-border-width);
  border-bottom-style: var(--conduction-card-wrapper-border-style);
  border-bottom-color: var(--conduction-card-wrapper-border-color);
}

.card:hover {
  background-color: var(--conduction-card-wrapper-background-color);
  cursor: default;

  transition: none;

  border-width: var(--conduction-card-wrapper-border-width);
  border-style: var(--conduction-card-wrapper-border-style);
  border-color: var(--conduction-card-wrapper-border-color);
  border-bottom-width: var(--conduction-card-wrapper-border-width);
  border-bottom-style: var(--conduction-card-wrapper-border-style);
  border-bottom-color: var(--conduction-card-wrapper-border-color);
  border-radius: var(--conduction-card-wrapper-border-radius);
  box-shadow: var(--conduction-card-wrapper-box-shadow);
}

.description {
  color: var(--conduction-card-wrapper-color) !important;
}

.title {
  border-block-end: var(--conduction-card-wrapper-header-border-block-end);
  color: var(
    --conduction-card-header-title-color,
    var(--conduction-card-wrapper-color)
  ) !important;
}
