/*
 *
 * Generic, non-design-token rules only.
 * Have a more specific rule? Add it to the theme.
 *
 */

html,
body {
  margin: 0;
}

.utrecht-link > svg {
  margin-inline-end: var(--utrecht-icon-gap);
}
