/* Package includes */
@import "react-loading-skeleton/dist/skeleton.css";

/* Design Tokens maintained by Conduction */
@import "../../node_modules/@conduction/theme/conduction-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/leiden-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/xxllnc-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/tubbergen-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/dinkelland-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/epe-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/noordwijk-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/noaberkracht-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/rotterdam-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/open-webconcept-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/dimpact-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/commonground-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/opencatalogi-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/zutphen-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/sloterburg-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/gouda-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/zuiddrecht-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/roosendaal-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/gooise-meren-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/moerdijk-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/hof-van-twente-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/lansingerland-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/bct-design-tokens/dist/index.css";
@import "../../node_modules/@conduction/theme/municipalities/ede-design-tokens/dist/index.css";

/* Design Tokens maintained by Frameless */
@import "../../node_modules/@utrecht/design-tokens/dist/theme.css";
@import "../../node_modules/@nl-design-system-unstable/bodegraven-reeuwijk-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/borne-design-tokens/dist/index.css";
/* @import "../../node_modules/@nl-design-system-unstable/buren-design-tokens/dist/index.css"; */
@import "../../node_modules/@nl-design-system-unstable/demodam-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/drechterland-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/duiven-design-tokens/dist/index.css";
/* @import "../../node_modules/@nl-design-system-unstable/duo-design-tokens/dist/index.css"; */ /* Import errors */
@import "../../node_modules/@nl-design-system-unstable/enkhuizen-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/groningen-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/haarlem-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/haarlemmermeer-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/hoorn-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/horstaandemaas-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/leidschendam-voorburg-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/nijmegen-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/noordoostpolder-design-tokens/dist/index.css";
/* @import "../../node_modules/@nl-design-system-unstable/provincie-zuid-holland-design-tokens/dist/index.css"; */
/* @import "../../node_modules/@nl-design-system-unstable/riddeliemers-design-tokens/dist/index.css"; */ /* Import errors */
@import "../../node_modules/@nl-design-system-unstable/rotterdam-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/stedebroec-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/tilburg-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/venray-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/vught-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/westervoort-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/zevenaar-design-tokens/dist/index.css";
@import "../../node_modules/@nl-design-system-unstable/zwolle-design-tokens/dist/index.css";

/* Global internal styling */
@import "./global.css";

/* Theme overrides styling */
@import "./theme-overrides.css";
