.table {
  background-color: var(--utrecht-table-background-color);
  border-collapse: var(--utrecht-table-border-collapse) !important;
}

.tableHeader > * {
  border-block-end: var(--utrecht-table-header-border-block-end-width) solid
    var(--utrecht-table-header-border-block-end-color);
}

.tableHeader {
  font-family: var(--utrecht-table-header-font-family);
}

.tableHeader > tr > th {
  border-inline-end-width: var(
    --utrecht-table-header-cell-border-inline-end-width
  );
  border-inline-end-style: var(
    --utrecht-table-header-cell-border-inline-end-style
  );
  border-inline-end-color: var(
    --utrecht-table-header-cell-border-inline-end-color
  );
}

.tableRow > * {
  vertical-align: middle !important;
}

.tableRow:hover {
  cursor: pointer;
  background-color: var(--utrecht-table-row-hover-background-color);
}

.tableBody {
  border: var(--utrecht-table-body-border);
  border-block-end: var(--utrecht-table-body-border-block-end-width) solid
    var(--utrecht-table-body-border-block-end-color);
}

.tableBody > tr > td {
  border-inline-end-width: var(--utrecht-table-cell-border-inline-end-width);
  border-inline-end-style: var(--utrecht-table-cell-border-inline-end-style);
  border-inline-end-color: var(--utrecht-table-cell-border-inline-end-color);
}

.tableBody .tableRow:nth-child(odd) {
  background-color: var(--utrecht-table-row-alternate-odd-background-color);
  color: var(--utrecht-table-row-alternate-odd-color);
}

.tableBody .tableRow:nth-child(odd):hover {
  background-color: var(--utrecht-table-row-hover-background-color);
  color: var(--utrecht-table-row-hover-color);
}

.tableBody .tableRow:nth-child(even) {
  background-color: var(--utrecht-table-row-alternate-even-background-color);
  color: var(--utrecht-table-row-alternate-even-color);
}
.tableBody .tableRow:nth-child(even):hover {
  background-color: var(--utrecht-table-row-hover-background-color);
  color: var(--utrecht-table-row-hover-color);
}

.ComponentsGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.categoryAndMunicipality {
  white-space: nowrap;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
