.table {
  background-color: var(--utrecht-table-background-color);
}

.tableHeader > * {
  border-block-end: var(--utrecht-table-header-border-block-end-width) solid
    var(--utrecht-table-header-border-block-end-color);
}

.tableRow > * {
  vertical-align: middle !important;
}

.tableRow:hover {
  cursor: pointer;
  background-color: var(--utrecht-table-row-hover-background-color);
}

.ComponentsGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}
