@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.ac-footer {
  color: var(--utrecht-page-footer-color, var(--tilburg-footer-color));
  section {
    &:first-of-type {
      min-height: 50px;
      padding-block: var(--tilburg-space-row-elephant);
      background-color: var(
        --utrecht-page-footer-background-color,
        var(--tilburg-footer-background-color)
      );
      background-image: var(--utrecht-page-footer-background-image);
      background-position: var(--utrecht-page-footer-background-position);
      background-size: auto;
      background-repeat: var(--utrecht-page-footer-background-repeat);

      @include respond-max($screen-sm) {
        padding-block: var(--tilburg-space-row-cat);
      }

      .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--tilburg-space-column-dog);

        @include respond-max($screen-sm) {
          grid-template-columns: 1fr;
        }
        @include respond-min($screen-sm) {
          @include respond-max($screen-md) {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      h3 {
        margin-block-end: var(--tilburg-space-block-snail);
      }

      ul {
        padding-inline-start: 18px;

        li {
          padding-inline-start: var(--tilburg-space-column-beetle);

          &::marker {
            color: var(--tilburg-footer-marker-color, var(--tilburg-footer-color));
            font-size: 1.25rem;
          }

          &:not(:last-child) {
            margin-block-end: var(--tilburg-space-block-snail);
          }

          &:has(svg) {
            a {
              display: flex;
              align-items: center;
              gap: var(--tilburg-space-column-snail);
            }
          }
        }
      }
    }

    &:last-of-type:not(:only-of-type) {
      padding-block: var(--tilburg-space-row-dog);
      background-color: var(--tilburg-color-blue-500);

      ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--tilburg-space-column-horse);
        row-gap: var(--tilburg-space-row-rat);
        list-style: none;
      }
    }
  }

  &__logo {
    display: flex;
    gap: var(--tilburg-space-column-cat);
    text-decoration: none;

    svg {
      flex-shrink: 0;
    }

    span {
      display: flex;
      flex-direction: column;
      gap: var(--tilburg-space-column-rat);
      max-inline-size: 30ch;

      span:first-of-type {
        font-size: var(--tilburg-typography-font-size-xl);
        font-weight: var(--tilburg-typography-font-weight-bold);
      }
    }
  }

  a {
    color: inherit;
    text-decoration: var(--tilburg-footer-link-text-decoration, underline);

    &:where(:hover, :focus-visible) {
      color: var(
        --utrecht-page-footer-link-hover-color,
        var(--tilburg-footer-link-hover-color)
      );
      text-decoration: var(
        --utrecht-page-footer-link-hover-text-decoration,
        var(--tilburg-footer-link-hover-text-decoration, none)
      );
      text-decoration-thickness: var(
        --utrecht-page-footer-link-hover-text-decoration-thickness,
        var(--tilburg-footer-link-hover-text-decoration-thickness, 0.0625rem)
      );
    }

    &:has(svg) {
      display: flex;
      align-items: center;
      gap: var(--utrecht-page-footer-link-gap, var(--tilburg-space-column-snail));
    }
  }
}

.ac-footer__link {
  display: flex;
  align-items: center;
  gap: var(--utrecht-page-footer-link-gap, var(--tilburg-space-column-snail));
  margin-block-end: var(
    --utrecht-page-footer-link-margin-block-end,
    var(--tilburg-space-block-snail)
  );
  color: var(--utrecht-page-footer-link-color, var(--tilburg-footer-link-color));
  text-decoration: var(
    --utrecht-page-footer-link-text-decoration,
    var(--tilburg-footer-link-text-decoration, underline)
  );
}

.ac-footer__link-icon > path {
  fill: var(
    --utrecht-page-footer-link-icon-color,
    var(--tilburg-footer-icon-color, currentColor)
  );
}
