.componentsGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cardContainer {
  gap: 14px;
  display: flex;
  flex-direction: column;
}

.cardHeader:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title {
  overflow-wrap: break-word;
}

.description {
  color: var(--conduction-card-wrapper-color) !important;
}

@media only screen and (max-width: 992px) {
  /* Tablet */
  .componentsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 576px) {
  /* Mobile */
  .componentsGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
