.container {
  display: flex;
  flex-direction: column;
  padding-inline-start: var(--utrecht-card-padding-inline-start);
  padding-inline-end: var(--utrecht-card-padding-inline-end);
  padding-block-start: var(--utrecht-card-padding-block-start);
  padding-block-end: var(--utrecht-card-padding-block-end);
  max-width: 300px;

  background-color: var(--utrecht-card-background-color);
  border-radius: var(--utrecht-card-border-radius);
  color: var(--utrecht-card-color);
}

.container:hover {
  cursor: pointer;
}

.container:hover > .titleLink {
  text-decoration: underline;
}

.title {
  font-size: 28px;
  overflow-wrap: break-word;
  margin-block-end: 16px;
}

.title,
.description {
  color: var(--utrecht-card-color) !important;
}

.date {
  font-size: 16px;
  margin-block-end: 8px;
  font-weight: 100;
}
