.container {
  display: flex;
  flex-direction: column;
  padding-inline-start: var(--conduction-card-wrapper-padding-inline-start);
  padding-inline-end: var(--conduction-card-wrapper-padding-inline-end);
  padding-block-start: var(--conduction-card-wrapper-padding-block-start);
  padding-block-end: var(--conduction-card-wrapper-padding-block-end);
  max-width: 300px;

  background-color: var(--conduction-card-wrapper-background-color);
  border-radius: var(--conduction-card-wrapper-border-radius);
  color: var(--conduction-card-wrapper-color);
}

.container:hover {
  background-color: var(
    --conduction-card-wrapper-hover-background-color,
    var(--conduction-card-wrapper-background-color)
  );
  cursor: pointer;
}

.container:hover > .titleLink {
  text-decoration: underline;
}

.title {
  overflow-wrap: break-word;
  margin-block-end: 16px;
  border-block-end: var(--conduction-card-wrapper-header-border-block-end);
  color: var(
    --conduction-card-wrapper-header-color,
    var(--conduction-card-wrapper-color)
  ) !important;
}

.container:hover .title {
  border-block-end: var(
    --conduction-card-wrapper-header-hover-border-block-end
  );
}

.description {
  color: var(--conduction-card-wrapper-color) !important;
}

.date {
  font-size: 16px;
  margin-block-end: 8px;
  font-weight: 100;
}
