.container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-inline-start: var(--utrecht-page-margin-inline-start);
  padding-inline-end: var(--utrecht-page-margin-inline-end);
}

.footer {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: var(--utrecht-page-footer-background-position);
  min-height: var(--utrecht-page-footer-min-height);
}

.imageContainer {
  height: var(--utrecht-page-footer-logo-max-height);
  width: var(--utrecht-page-footer-logo-max-width);
}

.image {
  vertical-align: middle;
  margin-inline-end: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image:hover {
  cursor: pointer;
}

.link:hover {
  color: black !important;
}

.contentGrid {
  gap: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dynamicSectionTitle {
  margin-block-end: 18px;
}

.dynamicSectionContent {
  display: flex;
  flex-direction: column;
  margin-block-end: 8px;
}

.logoAndConduction {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
