.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-inline-start: var(--utrecht-page-padding-inline-start);
  padding-inline-end: var(--utrecht-page-padding-inline-end);
  width: 100%;
}

.footer {
  --utrecht-unordered-list-item-padding-inline-start: 0;
  --utrecht-unordered-list-padding-inline-start: 0;
  --utrecht-unordered-list-item-margin-block-end: 0;
  --utrecht-unordered-list-item-margin-block-start: 0;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: var(--utrecht-page-footer-min-height);
}

.image {
  max-height: 20px;
  max-width: 200px;
  vertical-align: middle;
  margin-inline-end: 10px;
}

.image:hover {
  cursor: pointer;
}

.link:hover {
  color: black !important;
}
